
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Sticky Footer Navbar Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    
    <!-- Bootstrap core CSS -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<meta name="theme-color" content="#7952b3">


    <style>
      .imagen-gif{
        max-width: 260px;
        margin: auto;
      }
      .fondo-trending{
        margin-top:.2rem;
        background-color: coral;
        padding: 10px;
        display: flex;
        align-items: center;
        padding-right:0!important;
        padding-left: 0!important;
      }

      .fondo-random{
        margin-top:.2rem;
        background-color:olivedrab;
        padding: 10px;
        display: flex;
        align-items: center;
        padding-right:0!important;
        padding-left: 0!important;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      section{
        margin-top: 2rem;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


    </style>

    
    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="container" id="app">
  <div class="py-2">
    <h1 class="mt-5">{{mensaje}}</h1>
  </div>
    <section id="Categorias">
      <div class="row">
        <h2>Categorias</h2>
      </div>
      <div class="row">
        <div v-for="categoria in listaCategorias" :key="categoria.id" class="col-2">
          <a :href="categoria.url">{{categoria.name}}</a>
        </div>
      </div>
    </section>

    <section id="Trendin">
      <div class="row">
        <div class="col">
          <h2>Gif Trendins</h2>
        </div>
        <div class="col d-flex flex-row-reverse">
          <button class="btn btn-primary" @click="siguienteTrending()">Siguientes >></button>
        </div>
        
      </div> 
      <div class="row fondo-trending">
        <div v-for="item in listaTrendin" :key="item.id" class="col">
          <img class="imagen-gif" :src="item.url" :alt="item.title">
        </div>
      </div> 
    </section>


    <section id="Artistas">
      <div class="row">
        <div class="col">
          <h2>Gif Artistas</h2>
        </div>
        <div class="col d-flex flex-row-reverse">
          <button class="btn btn-primary" @click="siguienteArtistas()">Siguientes >></button>
        </div>
      </div> 
      <div class="row fondo-random">
        <div v-for="item in listaArtistas" :key="item.id" class="col">
          <img class="imagen-gif" :src="item.url" :alt="item.title">
        </div>
      </div> 
    </section>    
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="API.js"></script>    
<script src="app.js"></script>
<script>
var myCarousel = document.querySelector('#multi-item-example')
var carousel = new bootstrap.Carousel(myCarousel)
</script> 
</body>
</html>
